@import url('https://fonts.googleapis.com/css?family=Open+Sans|Song+Myung');

*{
	padding: 0;
	margin:0;
}


body {
	font-family: Open Sans, sans-serif;
	font-size: 16px;
	line-height: 3;
	background: url("0896.jpg");
}

div {
	margin: 0 auto;
}

header {
	background-color: #ffffff;
	padding: 3px;
	text-align: left;
	font-family: Gotham, sans-serif;
}

aside {
	float: right;
	color: #222222;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	font-family: Gotham;
}

h1 {
	color: #222222;
	font-size: 32px;
	font-family: Gotham, sans-serif;
}

h2 {
	color: #fff;
	background-color: #222;
	font-size: 24px;
	text-align: right;
	font-family: Gotham, sans-serif;

}
h3 {
	color: #fff;
	font-size: 32px;
	text-align: center;
	font-family: gotham, sans-serif;
}
p {
	color: #222222;
}

li a {
	display: inline-block;
    color: #222;
}

ul {
	list-style: none
	color: #222;
}

li, ul {
	display: inline-block;
}

.tagline {
	padding: 6px;
}

#image {
	margin: 0 auto;
}

.sidemenu {
	position:absolute;
	top: 100px;
	padding-left: 10px;
}

.topmenu {
	text-align: right;
}

.collection {
	border-width: 10px;
	margin: 0 auto;
	padding: 10px;
}

#footermenu {
	color: #222222;
	text-align: right;
	display: inline-block;
}


#newsletter {
	color: #222222;
	font-family: Gotham, sans-serif;
	font-size: 12px;
}

#email {
	color: #B8BAC4;
	font-family: Gotham, sans-serif;
	font-size: 12px;
}





